/* ********************** */
/* RESETS */
/* ********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************** */
/* VARIABLES */
/* ********************** */

:root {
  --Font-Family: "Bai Jamjuree", sans-serif;

  --Button-Color-One: hsl(171, 66%, 44%);
  --Button-Color-Two: hsl(233, 100%, 69%);

  --Button-Border-One: hsl(170, 68%, 37%);
  --Button-Border-Two: hsl(233, 69%, 60%);

  --Button-Shadow-One: 0px 15px 30px -10px hsl(171, 52%, 58%);
  --Button-Shadow-Two: 0px 15px 30px -10px hsl(233, 100%, 77%);

  --Button-Color-One-Hover: hsl(171, 52%, 58%);
  --Button-Color-Two-Hover: hsl(233, 100%, 77%);

  --Primary-Color: hsl(210, 10%, 33%);
  --Secodary-Color: hsl(201, 11%, 66%);

  --Btn-Text-Color: hsl(0, 0%, 100%);

  --Footer: hsl(220, 18%, 97%);
  --Footer-Nav-Links-Hover: hsl(171, 52%, 58%);

  --Transition: 0.8s all;
}

/* ********************** */
/* LAYOUT */
/* ********************** */

body {
  font-family: var(--Font-Family);
}

header {
  /* max-width: 1440px; */
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 1440px;
  padding: 20px 30px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* ********************** */
/* HEADINGS + PARAGRAPHS */
/* ********************** */

.section-heading {
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.46px;
  line-height: 35px;
  color: var(--Primary-Color);
  margin-bottom: 16px;
}

.feature-heading,
.section-three-features-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.39px;
  line-height: 30px;
  color: var(--Primary-Color);
  margin-bottom: 10px;
}

.header-paragraph,
.section-paragraph,
.feature-paragraph {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.12px;
  line-height: 26px;
  color: var(--Secodary-Color);
}

/* ********************** */
/* BUTTONS */
/* ********************** */

.button-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.button {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--Btn-Text-Color);

  border-radius: 30px;

  padding: 11px 74px;
}

.ios-btn {
  background: var(--Button-Color-One);
  border-bottom: solid 4px var(--Button-Border-One);
  box-shadow: var(--Button-Shadow-One);
}

.mac-btn {
  background: var(--Button-Color-Two);
  border-bottom: solid 4px var(--Button-Border-Two);
  box-shadow: var(--Button-Shadow-Two);
}

/* ********************** */
/* HEADER */
/* ********************** */

header {
  background: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  margin-bottom: 120px;
}

.header-logo {
  margin: 103px 0 63px 0;
}

.header-main-content {
  margin-bottom: 50px;
}

.header-heading {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  letter-spacing: -0.52px;
  color: var(--Primary-Color);
  margin-bottom: 16px;
}

.header-paragraph {
  text-align: center;
}

/* ********************** */
/* SECTION ONE */
/* ********************** */

.section-one-container {
  margin-bottom: 146px;
}

.section-one-intro {
  margin-bottom: 64px;
}

.section-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one-illustration {
  margin-bottom: 56px;
}

.features-container-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* ********************** */
/* SECTION TWO */
/* ********************** */

.section-two-container {
  margin-bottom: 62px;
}

.section-two-main-content {
  margin-bottom: 68px;
}

/* ********************** */
/* SECTION THREE */
/* ********************** */

.section-three-container {
  margin-bottom: 89px;
}

.section-three-main-content {
  margin-bottom: 90px;
}

.section-three-heading {
  margin-bottom: 10px;
}

.section-three-features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  margin-bottom: 44px;
}

.feature-icon-one {
  margin-bottom: 40px;
}

.section-three-features-heading {
  margin-bottom: 19px;
}

/* ********************** */
/* SECTION FOUR */
/* ********************** */

.section-four-container {
  margin-bottom: 124px;
}

.company-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-logo {
  margin-bottom: 59px;
}

.company-logo-one {
  max-width: 139px;
}
.company-logo-two {
  max-width: 121px;
  margin-bottom: 63px;
}
.company-logo-three {
  max-width: 135px;
  margin-bottom: 57px;
}
.company-logo-four {
  max-width: 113px;
  margin-bottom: 49px;
}
.company-logo-five {
  max-width: 105px;
  margin-bottom: 0;
}

/* ********************** */
/* SECTION FIVE */
/* ********************** */

.section-five-container {
  margin-bottom: 169px;
}

.section-five-main-content {
  margin: 0 2px 48px 2px;
}

.section-five-heading {
  margin-bottom: 16px;
}

/* ********************** */
/* FOOTER */
/* ********************** */

footer {
  color: var(--Primary-Color);
  background: var(--Footer);

  padding: 32px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-company-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  margin-bottom: 28px;
}

.footer-logo {
  max-width: 55px;
}

.footer-nav-list {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.14px;
}

.footer-nav-list-link {
  margin-bottom: 20px;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-media-list svg {
  fill: var(--Primary-Color);
}

/* ********************** */
/* MEDIA QUERY */
/* ********************** */

@media (min-width: 600px) {
  header {
    background: url(../images/bg-header-desktop.png);
    background-size: cover;

    margin-bottom: 114px;
  }
}

@media (min-width: 850px) {
  .header-logo {
    margin: 111px 0 66px 0;
  }

  .header-heading {
    font-size: 46px;
    letter-spacing: -0.75px;
    margin-bottom: 23px;
  }

  .header-paragraph {
    max-width: 730px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
  }

  .button-container {
    flex-direction: row;
    gap: 23px;
  }

  .button {
    padding: 11px 32px;
  }

  .section-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 115px;
  }

  .section-one-intro {
    margin-bottom: 80px;
  }

  .section-heading {
    font-size: 36px;

    letter-spacing: -0.59px;

    margin-bottom: 24px;
  }

  .section-paragraph {
    max-width: 730px;
    font-size: 18px;

    letter-spacing: 0.14px;
    line-height: 30px;
  }

  .section-one-illustration {
    margin-bottom: 0;
    margin-left: -292px;
    margin-right: 110px;
  }

  .section-features-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .features-container-list {
    gap: 54px;
    margin-top: 68px;
  }

  .feature-heading {
    text-align: start;
  }

  .feature-paragraph {
    max-width: 350px;
    text-align: start;
    line-height: 30px;
    letter-spacing: 0.12px;
  }

  .section-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 36px;
  }

  .section-two-main-content {
    margin-bottom: 100px;
  }

  .section-three-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 128px;
  }

  .section-three-main-content {
    margin-bottom: 59px;
  }

  .section-three-features-list {
    flex-direction: row;
    gap: 30px;
  }

  .section-three-features-paragraph {
    text-align: center;
  }

  .company-list {
    flex-direction: row;
    align-items: center;
    gap: 97px;
  }

  .company-logo {
    margin-bottom: 0;
  }

  .company-logo-one {
    max-width: 165px;
  }
  .company-logo-two {
    max-width: 144px;
    margin-bottom: 0;
  }
  .company-logo-three {
    max-width: 160px;
    margin-bottom: 0;
  }
  .company-logo-four {
    max-width: 134px;
    margin-bottom: 0;
  }
  .company-logo-five {
    max-width: 125px;
    margin-bottom: 0;
  }
}
