/* ********************** */
/* RESETS */
/* ********************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************** */
/* VARIABLES */
/* ********************** */

:root {
  --Font-Family: "Bai Jamjuree", sans-serif;

  --Header-Heading-FS: clamp(2rem, calc(1.6rem + 1.72vw), 2.88rem);
  --Header-Paragraph-FS: clamp(1rem, calc(0.88rem + 0.49vw), 1.25rem);
  --Section-Heading-FS: clamp(1.75rem, calc(1.52rem + 0.98vw), 2.25rem);

  --Paragraph-FS: clamp(1rem, calc(0.94rem + 0.25vw), 1.13rem);

  --Button-Color-One: hsl(171, 66%, 44%);
  --Button-Color-Two: hsl(233, 100%, 69%);

  --Button-Border-One: hsl(170, 68%, 37%);
  --Button-Border-Two: hsl(233, 69%, 60%);

  --Button-Shadow-One: 0px 15px 30px -10px hsl(171, 52%, 58%);
  --Button-Shadow-Two: 0px 15px 30px -10px hsl(233, 100%, 77%);

  --Button-Color-One-Hover: hsl(171, 52%, 58%);
  --Button-Color-Two-Hover: hsl(233, 100%, 77%);

  --Primary-Color: hsl(210, 10%, 33%);
  --Secodary-Color: hsl(201, 11%, 66%);

  --Btn-Text-Color: hsl(0, 0%, 100%);

  --Footer: hsl(220, 18%, 97%);
  --Footer-Nav-Links-Hover: hsl(171, 52%, 58%);

  --Transition: 0.8s all;
}

/* ********************** */
/* LAYOUT */
/* ********************** */

body {
  font-family: var(--Font-Family);
}

main {
  max-width: 90rem;
  margin: 0 auto;
  gap: 2.5rem;
}

header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.25rem 1.88rem;
}

/* ********************** */
/* HEADINGS + PARAGRAPHS */
/* ********************** */

.header-heading {
  font-size: var(--Header-Heading-FS);
  font-weight: 600;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: -0.52px;
  color: var(--Primary-Color);
  margin-bottom: 1rem;

  transition: var(--Transition);
}

.section-heading {
  font-size: var(--Section-Heading-FS);
  text-align: center;
  letter-spacing: -0.46px;
  line-height: 2.19rem;
  color: var(--Primary-Color);
  margin-bottom: 1rem;
  transition: var(--Transition);
}

.section-one-feature-heading,
.section-three-feature-heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.39px;
  line-height: 1.88rem;
  color: var(--Primary-Color);
  margin-bottom: 0.63rem;

  transition: var(--Transition);
}

.header-paragraph {
  max-width: 730px;
  font-size: var(--Header-Paragraph-FS);
}

.section-paragraph,
.feature-paragraph {
  font-size: 1rem;
  font-weight: 400;
}

.header-paragraph,
.section-paragraph,
.feature-paragraph {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.12px;
  line-height: 1.63rem;
  color: var(--Secodary-Color);

  transition: var(--Transition);
}

/* ********************** */
/* BUTTONS */
/* ********************** */

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1.44rem;
}

.button {
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 1.88rem;
  letter-spacing: 0.5px;
  color: var(--Btn-Text-Color);

  padding: 0.69rem 3rem;
  border-radius: 1.88rem;
}

.ios-btn {
  background: var(--Button-Color-One);
  border-bottom: solid 4px var(--Button-Border-One);
  box-shadow: var(--Button-Shadow-One);
  transition: var(--Transition);
}

.ios-btn:is(:hover, :focus-visible) {
  background: var(--Button-Color-One-Hover);
}

.mac-btn {
  background: var(--Button-Color-Two);
  border-bottom: solid 4px var(--Button-Border-Two);
  box-shadow: var(--Button-Shadow-Two);
  transition: var(--Transition);
}

.mac-btn:is(:hover, :focus-visible) {
  background: var(--Button-Color-Two-Hover);
}

/* ********************** */
/* FLEX */
/* ********************** */
.section-three-container,
.section-features-container,
.section-three-features-list,
.features-list,
.company-list,
.section-five-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ********************** */
/* HEADER */
/* ********************** */

header {
  background: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  margin-bottom: 7.5rem;
}

.header-logo {
  margin: 6.44rem 0 3.94rem 0;
}

.header-main-content {
  margin-bottom: 3.06rem;
}

/* ********************** */
/* SECTION ONE */
/* ********************** */

.section-one-container {
  margin-bottom: 9.13rem;
}

.section-one-intro {
  margin-bottom: 4rem;
}

.section-one-illustration {
  margin-bottom: 3.5rem;
}

.features-container-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ********************** */
/* SECTION TWO */
/* ********************** */

.section-two-container {
  margin-bottom: 3.88rem;
}

.section-two-main-content {
  margin-bottom: 4.25rem;
}

/* ********************** */
/* SECTION THREE */
/* ********************** */

.section-three-container {
  margin-bottom: 7rem;
}

.section-three-main-content {
  margin-bottom: 5.63rem;
}

.section-three-heading {
  margin-bottom: 0.63rem;
}

.section-three-features-list {
  gap: 3.5rem;
}

.feature-icon {
  margin-bottom: 2.75rem;
}

.section-three-features-heading {
  margin-bottom: 1.19rem;
}

/* ********************** */
/* SECTION FOUR */
/* ********************** */

.section-four-container {
  margin-bottom: 7.75rem;
}

.company-logo {
  margin-bottom: 3.69rem;
}

.company-logo-one {
  width: 100%;
  max-width: 8.69rem;
}
.company-logo-two {
  width: 100%;
  max-width: 7.56rem;
  margin-bottom: 3.94rem;
}
.company-logo-three {
  width: 100%;
  max-width: 8.44rem;
  margin-bottom: 3.56rem;
}
.company-logo-four {
  width: 100%;
  max-width: 7.06rem;
  margin-bottom: 3.06rem;
}
.company-logo-five {
  width: 100%;
  max-width: 6.56rem;
  margin-bottom: 0;
}

/* ********************** */
/* SECTION FIVE */
/* ********************** */

.section-five-container {
  margin-bottom: 10.06rem;
}

.section-five-main-content {
  margin: 0 0.13rem 2.94rem 0.13rem;
}

.section-five-heading {
  margin-bottom: 1rem;
}

/* ********************** */
/* FOOTER */
/* ********************** */

footer,
.footer-container,
.footer-company-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  color: var(--Primary-Color);
  background: var(--Footer);

  padding: 1.25rem;
}

.footer-container {
  padding: 1.25rem;
}

.footer-company-links {
  gap: 2.5rem;
  margin-bottom: 1.75rem;
}

.footer-logo {
  max-width: 3.44rem;
}

.footer-nav-list {
  font-size: 1.13rem;
  text-align: center;
  line-height: 1.88rem;
  letter-spacing: 0.14px;
}

.footer-nav-list-link {
  margin-bottom: 1.25rem;
  transition: var(--Transition);
}

.footer-nav-list-link:is(:hover, :focus-visible) {
  color: var(--Footer-Nav-Links-Hover);
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.social-media-list svg {
  fill: var(--Primary-Color);
  transition: var(--Transition);
}

.social-media-list svg:is(:hover, :focus-visible) {
  fill: var(--Footer-Nav-Links-Hover);
  transition: var(--Transition);
}

/* ********************** */
/* MEDIA QUERY */
/* ********************** */

@media (min-width: 23.13em) {
  .button {
    padding: 0.69rem 4.63rem;
  }
}

@media (min-width: 37.5em) {
  header {
    background: url(../images/bg-header-desktop.png);
    background-size: cover;

    margin-bottom: 7.13rem;
  }
}

@media (min-width: 46.88em) {
  .header-logo {
    margin: 6.94rem 0 4.13rem 0;
  }

  .header-heading {
    letter-spacing: -0.75px;
    margin-bottom: 1.44rem;
  }

  .header-paragraph {
    line-height: 1.88rem;
    letter-spacing: 0.15px;
  }

  .button-container {
    flex-direction: row;
    gap: 1rem;
  }

  .button {
    width: 14.19rem;
    padding: 0.69rem 2rem;
  }

  .section-one-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 7.19rem;
  }

  .section-one-intro {
    margin-bottom: 5rem;
  }

  .section-heading {
    letter-spacing: -0.59px;
    margin-bottom: 1.5rem;
  }

  .section-paragraph {
    max-width: 62ch;
    font-size: 1.13rem;

    letter-spacing: 0.14px;
    line-height: 1.88rem;
  }

  .section-one-illustration {
    margin-bottom: 0;
    margin-left: -18.25rem;
    margin-right: 6.88rem;
  }

  .section-features-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .features-container-list {
    gap: 3.38rem;
    margin-top: 4.25rem;
  }

  .section-one-feature-heading {
    text-align: start;
  }

  .feature-paragraph {
    max-width: 34ch;
    text-align: start;
    line-height: 1.88rem;
    letter-spacing: 0.12px;
  }

  .section-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2.25rem;
  }

  .section-two-main-content {
    margin-bottom: 6.25rem;
  }

  .section-three-container {
    margin-bottom: 7.31rem;
  }

  .section-three-main-content {
    margin-bottom: 2.69rem;
  }

  .section-three-features-list {
    flex-direction: row;
    gap: 1.88rem;
  }

  .feature-icon-one {
    margin-top: 1.56rem;
  }

  .section-three-feature-heading {
    margin-bottom: 1.06rem;
  }

  .section-three-features-paragraph {
    text-align: center;
  }

  .company-list {
    flex-direction: row;
    align-items: center;
    gap: 6.06rem;
  }

  .company-logo {
    margin-bottom: 0;
  }

  .company-logo-one {
    max-width: 10.31rem;
  }
  .company-logo-two {
    max-width: 9rem;
    margin-bottom: 0;
  }
  .company-logo-three {
    max-width: 10rem;
    margin-bottom: 0;
  }
  .company-logo-four {
    max-width: 8.38rem;
    margin-bottom: 0;
  }
  .company-logo-five {
    max-width: 7.81rem;
    margin-bottom: 0;
  }

  .section-four-container {
    margin-bottom: 7.38rem;
  }

  .section-five-container {
    margin-bottom: 8.06rem;
  }

  footer {
    padding: 1.25rem 1.25rem 0.31rem 1.25rem;
  }

  .footer-container {
    width: 100%;
    max-width: 71.88rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-company-links {
    flex-direction: row;
    gap: 8.38rem;
    margin-bottom: 0;
  }

  .footer-logo {
    margin-top: -0.63rem;
  }

  .footer-nav-list {
    columns: 3;
    column-gap: 4.5rem;
    text-align: start;
  }

  .footer-nav-list-link {
    margin-bottom: 0.88rem;
  }

  .social-media-list {
    gap: 1.5rem;
  }
}
